@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: black;
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar {
    display: none;
  }
#page1{
    background-image: url(alexander-jawfox-R_6kw7NUTLY-unsplash.jpg);
    background-size:contain;
    background-size: 80%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
#logo{
    height: 100px;
    width: 100px;
}
#logo img{
    height: 100%;
}
.title{
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1{
    font-family: 'Tektur';
    font-weight: 500px;
    position: absolute;
    top: 73%;
    right: 35%;
    font-size: 170px;
    color: rgb(102, 121, 108);
    z-index: 2;
    opacity: 0;
   animation: down 3s ease 0.5s forwards;
}
@keyframes down{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
#nav{ 
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
#nav ul li{ 
 
    margin: 20px;
    list-style: none;
    padding: 5px;
   font-size: 18px;
}
#nav ul li a{
    font-family: 'Turret Road';
    color: rgb(117, 124, 119);
    text-decoration: none;
    transition:  ease-in 1s;
    opacity: 0;
    animation: up 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
@keyframes up{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
#nav ul li a:hover{
    color: white;
    background-color: black;
    border: 1px solid rgb(61, 206, 117);
    border-radius: 50px;

}
#page2{
    height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 1vh;
}
#page2 h1{
    padding: 100px;
    color: rgba(96, 139, 121, 0.664);
    font-size: 11vw;
    font-family: 'Orbitron';
    line-height: 25vh;
    animation: blink 4s linear infinite;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}
#page3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
#p1{
   opacity: 0;
    width: 50%;
    color: rgb(106, 168, 125);
    padding: 10vh;
    font-size: 50px;
    font-weight: 500;
    font-family: "Tektur";
    text-transform: uppercase;
}
.skull{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.skull img{
    height: 100%;
    width: 100%;
    animation: blink .5s linear infinite;
}
#page4{
    /* background-color: black; */
    height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 1vh;
}
.gun{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.gun h1{
    font-family:'Chakra Petch';
    font-size: 16vw;
    color: rgb(127, 163, 139);
}
.gun img{
    position: absolute;
    transform: rotate(-1deg);
    top: 5%;
    width: 40%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#page5{
    /* background-color: black; */
    display: flex;
    width: 100%;
    height: 100vh;
}
.left,.right{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 7vh;
}
.left svg{
    width: 90%;
    margin-top: 40vh;
    transform: rotateX(50deg);
}
.right h1{
    color: rgb(192, 203, 166);
    font-size: 10vh;
    font-family: 'tektur';
}
.right p{
    color: rgb(186, 169, 162);
    font-size: 3vh;
    font-family: 'Turret Road';
    width: 80%;
}
#page6{
    display: flex;
    width: 100%;
    height: 100vh;
}
.left1,.right1{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 7vh;
    padding: 10vh;
}
.left1 h1{
    color: rgb(192, 203, 166);
    font-size: 10vh;
    font-family: 'tektur';
}
.left1 p{
    color: rgb(186, 169, 162);
    font-size: 3vh;
    font-family: 'Turret Road';
    width: 100%;
}
.right1 svg{
    width: 85%;
    margin-top: 40vh;
    transform: rotateX(30deg);
}
.right1 img{
    position: absolute;
    width: 30%;
    z-index: 5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.page7{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
}
.card{
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 28vw;
    gap: 4vh;
    height: 60vh;
    border-radius: 50px;
    margin-top:15vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgb(69, 71, 69));
}
.card h1{
    color: rgb(114, 110, 110);
    margin-top: 40vh;
    font-size: 3vw;
    font-family: "tektur";
}
.card button{
    background-image: linear-gradient(to right, rgb(37, 65, 54) , white);;
    font-size: 1vw;
    font-family: "Turret Road";
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 1vw 2vw;
    transition: ease-in;
}
.card button:hover{
    border: 3px solid rgb(119, 124, 177);
}
#g1{
    position: absolute;
    width: 35%;
    top: 25%;
    left: 1%;
}
#bag{
    position: absolute;
    width: 30%;
    top: 30%;
}
#btn{
    background-color: rgba(121, 139, 95, 0.559);
    cursor: pointer;
    padding: 2vh;
    position: absolute;
    left: 45%;
    border-radius: 50px;
    font-family: 'tektur';
    top: 690%;
}
#btn:hover{
    background-color: black;
    color: rgb(2, 100, 27);
}
.page8{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    position: relative;
    padding-top: 15vh;
}
.page8 h1{
    font-size: 10vw;
    color: rgba(255, 255, 255, 0.623);
    padding: 0 16vw;
    font-family: 'orbitron';
    letter-spacing: -3px;
    line-height: 10vw;
}
.page8 p{
    color: rgba(221, 206, 206, 0.699);
    font-size: 4vh;
    font-family: 'tektur';
    padding: 3vw 30vw;
}
.logos{
    width: 40%;
}
.logos i{
    color: cadetblue;
    text-decoration: none;
    top: 10%;
   font-size: 40px;
   letter-spacing: 20px;
}